@model de_exceptional_closures.ViewModels.Closure.EditViewModel
@{
    ViewData["Title"] = "Edit";
}


    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.IsSingleDay)
    @Html.HiddenFor(i => i.ApprovalTypeId)

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <partial name="../Components/_errorSummary.cshtml" />

                <h1 class="govuk-heading-l">Edit your answers</h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Institution
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.DisplayFor(model => model.InstitutionName)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link">

                        </a>
                    </dd>
            </div>

            <div class="govuk-summary-list__row">

                <dt class="govuk-summary-list__key">
                    Approval type
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.ApprovalTypeId == 1)
                    {
                        <strong class="govuk-tag">Pre-approved</strong>
                    }
                    else
                    {
                        <strong class="govuk-tag">Approval required</strong>
                    }
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("EditReason", "Closure", new  { id = Model.Id })">
                        Change<span class="govuk-visually-hidden"> approval type</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date from
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.DateFrom.ToString("d MMMM yyyy")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("EditDateFrom", "Closure", new  { id = Model.Id })">
                        Change<span class="govuk-visually-hidden"> Date from</span>
                    </a>
                </dd>
            </div>

            @if (Model.DateTo.HasValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date to
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.DateTo.Value.ToString("d MMMM yyyy")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.Action("EditDateTo", "Closure", new  { id = Model.Id })">
                            Change<span class="govuk-visually-hidden"> Date to</span>
                        </a>
                    </dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reason
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.ReasonType)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("EditReason", "Closure", new  { id = Model.Id })">
                        Change<span class="govuk-visually-hidden"> closure reason</span>
                    </a>
                </dd>
            </div>

            @if (Model.ReasonTypeId == 5)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Other reason
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.DisplayFor(model => model.OtherReason)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.Action("EditReason", "Closure", new  { id = Model.Id })">
                            Change<span class="govuk-visually-hidden"> other clsoure reason</span>
                        </a>
                    </dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date created
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.DateCreated.ToString("d MMMM yyyy")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link">
                    </a>
                </dd>
            </div>
            </dl>
        </div>