@model de_exceptional_closures.ViewModels.Closure.EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" asp-controller="Closure" method="post" id="editForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.IsSingleDay)
    @Html.HiddenFor(i => i.ApprovalTypeId)

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

                <partial name="../Components/_errorSummary.cshtml" />

                <h1 class="govuk-heading-l">
                    Edit Approval
                </h1>

                <div class="govuk-inset-text">
                    We need you to give us some details about the closure. First tell us the date you closed, or plan to close, <strong>@Model.InstitutionName</strong> below.
                </div>

                <div class="govuk-form-group">
                    @*<label asp-for="DateFrom" class="govuk-label"></label>*@

                    <span asp-validation-for="DateFrom" class="govuk-error-message"></span>

                    <div class="govuk-date-input" id="StartDate">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateFromDay">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateFromDay" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                <span asp-validation-for="DateFromDay" class="govuk-error-message"></span>
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateFromMonth">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateFromMonth" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                <span asp-validation-for="DateFromMonth" class="govuk-error-message"></span>

                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" asp-for="DateFromYear">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="DateFromYear" type="text" maxlength="4" pattern="[0-9]*" inputmode="numeric">
                                <span asp-validation-for="DateFromYear" class="govuk-error-message"></span>
                            </div>
                        </div>
                    </div>
                </div>

                @if (!Model.IsSingleDay)
                {
                    <div class="govuk-form-group">
                        @*<label asp-for="DateFrom" class="govuk-label"></label>*@

                        <span asp-validation-for="DateTo" class="govuk-error-message"></span>

                        <div class="govuk-date-input" id="EndDate">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateToDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateToDay" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateToDay" class="govuk-error-message"></span>
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateToMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="DateToMonth" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateToMonth" class="govuk-error-message"></span>

                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" asp-for="DateToYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="DateToYear" type="text" maxlength="4" pattern="[0-9]*" inputmode="numeric">
                                    <span asp-validation-for="DateToYear" class="govuk-error-message"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                Select the reason for the closure
                            </h2>
                        </legend>
                        <div id="contact-hint" class="govuk-hint">
                            Select one option.
                        </div>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <span asp-validation-for="ReasonTypeId" class="govuk-error-message"></span>
                            @foreach (var item in Model.ReasonTypeList)
                            {
                                @if (item.Id == 5)
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" id="@item.Id" asp-for="ReasonTypeId" data-aria-controls="conditional-contact" name="ReasonTypeId" value="@item.Id" />
                                        <label class="govuk-label govuk-radios__label" for="@item.Id">
                                            @item.Description
                                        </label>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                                            <div class="govuk-form-group">
                                                <label asp-for="OtherReason" class="govuk-label"></label>
                                                <span asp-validation-for="OtherReason" class="govuk-error-message"></span>
                                                <textarea class="govuk-textarea" rows="8" asp-for="OtherReason"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" id="@item.Id" asp-for="ReasonTypeId" name="ReasonTypeId" value="@item.Id" onchange="showHideOtherReason(@item.Id);" />
                                        <label class="govuk-label govuk-radios__label" for="@item.Id">
                                            @item.Description
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <input type="submit" id="btnContinueSave" value="Submit" name="Submit" class="govuk-button" data-module="govuk-button" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/Scripts/Edit.js"></script>
}

<script>

    $(document).ready(function ()
    {
        // if page has errors
        if ($(".error-items").length > 0) {
            // for each error in summary
            $(".error-items").each(function () {

                // grab the id and text
                var id = $(this).attr('href');

                // if id is #DateOfBirth then swap href to point to day and change styles to error styles.
                if (id == "#DateFrom") {
                    $(this).attr('href', '#DateFromDay');
                    $('#DateFromDay').parent().css("padding-left", "15px");
                    $('#DateFromDay').parent().css("border-left", "5px solid #d4351c");

                    $('#DateFromDay').css("border", "4px solid #d4351c");
                    $('#DateFromMonth').css("border", "4px solid #d4351c");
                    $('#DateFromYear').css("border", "4px solid #d4351c");
                }
            })
        }
    });

</script>