@model de_exceptional_closures.ViewModels.Closure.EditReasonViewModel
@{
    ViewData["Title"] = "EditReason";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="EditReason" asp-controller="Closure" method="post">
    @Html.AntiForgeryToken()

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <a href="@Url.Action("Edit","Closure", new { id = Model.Id })" class="govuk-back-link">Back</a>

                <partial name="../Components/_errorSummary.cshtml" />

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                What is the reason for the closure?
                            </h2>
                        </legend>
                        <div id="contact-hint" class="govuk-hint">
                            Select one option.
                        </div>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <span asp-validation-for="ReasonTypeId" class="govuk-error-message"></span>
                            @foreach (var item in Model.ReasonTypeList)
                            {
                                @if (item.Id == 5)
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" id="@item.Id" asp-for="ReasonTypeId" data-aria-controls="conditional-contact" name="ReasonTypeId" value="@item.Id" />
                                        <label class="govuk-label govuk-radios__label" for="@item.Id">
                                            @item.Description
                                        </label>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                                            <div class="govuk-form-group @Model.ErrorClass">
                                                <label asp-for="OtherReason" class="govuk-label"></label>
                                                <span asp-validation-for="OtherReason" class="govuk-error-message"></span>
                                                <textarea class="govuk-textarea" rows="8" asp-for="OtherReason"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" type="radio" id="@item.Id" asp-for="ReasonTypeId" name="ReasonTypeId" value="@item.Id" />
                                        <label class="govuk-label govuk-radios__label" for="@item.Id">
                                            @item.Description
                                        </label>
                                    </div>
                                }
                            }
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <input type="submit" id="btnContinueSave" value="Submit" name="Submit" class="govuk-button" data-module="govuk-button" />
                </div>
            </div>
        </div>
    </div>
</form>

