@model de_exceptional_closures.ViewModels.Closure.SubmittedViewModel
@{
    ViewData["Title"] = "Submitted";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Exceptional closure submitted</h1>

            <p class="govuk-inset-text">
                Thank you for the below request for an exceptional closure. Your request has been forwarded to the Tackling Educational
                Disadvantage team in Department of Education for consideration, and a response will issue as soon as possible.
            </p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Approval type
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.ApprovalTypeId == 1)
                    {
                        <strong class="govuk-tag">Pre-approved</strong>
                    }
                    else
                    {
                        <strong class="govuk-tag">Approval required</strong>
                    }
                </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Instituition
            </dt>
            <dd class="govuk-summary-list__value">
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date from
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.DateFrom.ToShortDateString()
            </dd>
        </div>

        @if (Model.DateTo != null)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date to
                </dt>
                <dd class="govuk-summary-list__value">
                   @Model.DateTo.Value.ToShortDateString()
                </dd>
            </div>
        }

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Reason
            </dt>
            <dd class="govuk-summary-list__value">
                @Html.DisplayFor(model => model.ReasonType)
            </dd>
        </div>

        @if (Model.ReasonTypeId == 5)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Other reason
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.OtherReason)
                </dd>
            </div>
        }

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date created
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.DateCreated.ToShortDateString()
            </dd>
        </div>
        </dl>
    </div>
    </div>